.content{
	width: 100%;
	height: calc(100vh - 49px);
	padding-top: 30px;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.calc{
	width: 25%;
	height: 150px;
	border: 5px solid rgba(77, 77, 236, 0.736);
	margin: 15px;
}

.grid-container{
	display:grid;
	grid-template-columns: auto auto auto auto ;
	width: 100%;
	height: 100%;
}

.grid-item{
	border: 1px solid black;
	text-align: center;
	
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	background-color: rgb(207, 229, 249); 
	user-select: none;
	/* background-color: rgb(206, 227, 234);  */
}

.grid-item:hover{
	cursor: pointer;
	background-color:  rgb(255, 255, 255);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* display: flex; */

.result{
	border: 1px solid black;
	height: 25px;
	width: 100px;
	margin: 15px;
	overflow-x: auto;
}

/* .result::-webkit-scrollbar {
    width: 2px; /* Ширина скроллбара 
  } */

.grid-result{
	grid-row: 1;
	grid-column: 4;
}